<div class="col-lg-6">
    <form name="createTodo" novalidate ng-submit="createTodo.$valid && addTodo()">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">I need to...</h3>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <input name="task" class="form-control" placeholder="Enter text" ng-model="newTodo" required>
                </div>
                <input type="submit" class="btn btn-success" value="Create"/>
                {{newTodo}}
            </div>
        </div>
    </form>
</div>