<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="layout" content="main"/>
    <title>Dashboard</title>
</head>

<body>


<div class="row">
    <div class="col-lg-12">
        <h1> {{ currentUser }} TODO's
            <small>A Blank Slate</small>
        </h1>
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <form name="createTodo" data-ng-submit="create(createTodo)" novalidate="">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">I need to...</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <input name="task" class="form-control" placeholder="Enter text" data-ng-model="todo.task" ng-required="true">
                    </div>
                    <input type="submit" class="btn btn-success" value="Create"/>
                    <span class="pull-right" ng-if="createTodo.$dirty && createTodo.$invalid"> All fields are mandatory</span>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-6">
        <ul class="list-group">
            <li class="list-group-item" data-ng-repeat="todo in todos">
                <span data-ng-class="{strikethrough: todo.completed}">{{ todo.task | properCase }}</span>
                <span style="float: right"><input type="checkbox" data-ng-click="toggleDone(todo, $index)" data-ng-checked="todo.completed"/></span>
                <span style="float:right; margin-right:10px">
                    <input type="button" value="DELETE" class="btn btn-xs btn-danger" data-ng-click="remove(todo, $index)">
                </span>
            </li>
        </ul>
    </div>
</div>

<!-- /.row -->

</body>
</html>
